@import "tailwindcss";

@theme {
  --font-edu: "Edu NSW ACT Cursive", cursive;
  --font-saira: "Saira", sans-serif;
}

body {
  background-color: black;
  color: white;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.animate-fade {
  animation: fade 2s ease-in-out;
}

@keyframes fade {
  from {
      opacity: 0;
      transform: translateY(-9.375rem);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.swiper-pagination {
    margin-top: 30px !important; 
    bottom: 0px !important; 
}

.swiper-pagination-bullet {
    width: 14px !important; 
    height: 14px !important;
    background: #ffffff !important;
    opacity: 0.5 !important;
    transition: all 0.4s ease !important;
    cursor: pointer;
}

.swiper-pagination-bullet:hover {
    background: #fb8500 !important;
    opacity: 0.8 !important;
    transform: scale(1.3); 
}

.swiper-pagination-bullet-active {
    background: #fb8500 !important;
    width: 35px !important;
    border-radius: 8px !important;
    opacity: 1 !important;
}

.swiper-slide {
    height: auto !important;
}

.swiper-slide-active > div {
    z-index: 10;
}

.group {
    will-change: transform, box-shadow;
}